# The publicly exposable Supabase URL
NEXT_PUBLIC_SUPABASE_URL=

# The anonymous key used for accessing the public database
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# The service role key used for automated admin services.
# Bypasses row-level security - server-side only, never expose to the client.
SUPABASE_SERVICE_KEY=

# Supabase project ID for generating types during development
PROJECT_ID=

# Supabase access token for generating types during development
SUPABASE_ACCESS_TOKEN=
